.shadow {
	box-shadow: 0 0 1em rgba(0,0,0, 0.2);
}

.dark {
	background: rgb(66, 66, 66) !important;
	color:  #41b883 !important;
}

.vue-secondary {
	background: #34495e !important;
	color: #41b883 !important;
}

.vue-primary {
	background: #41b883 !important;
	color: #34495e !important;
}

.vue-primary-font {
    color: #34495e;
}

.vue-secondary-font {
    color: #41b883;
}

.dark-font {
    color: #41b883;
}

.white {
	background: white !important;
	color: #41b883 !important;
}

.white-font {
	color: #41b883 !important
}