<template>
	<v-layout align-center wrap fill-height>
		<div v-if="hasItems">
			<v-flex xs12 v-for="(item, index) in items" :key="index" class="margin-bottom-flex">
				<v-card>
					<v-card-title>
						<article-component :title="item.title" :authors="['a stupid web service']">
							<p>{{ item.content }}</p>
						</article-component>
					</v-card-title>
				</v-card>
			</v-flex>
		</div>
		<v-flex v-else xs12>
			<v-alert>No items</v-alert>
		</v-flex>
	</v-layout>
</template>

<script>
import ArticleComponent from '@/components/ArticleComponent'
import { getArticles } from '@/ajax'

export default {
   components: {
     ArticleComponent
  },
  data () {
    return {
      items: []
    }
  },
  created () {
    for(let i=0; i < 3; i++) {
      getArticles()
      .then(response => {
        const data = response.data
        const title = `${data.type} n°${i}`
        const content = data.text_out.replace(/<p[^>]*>/g, '').replace(/<\/p>/g, '')

        this.items = [...this.items, { title, content }]
      })
    }
  },
  computed: {
    routeName () {
      return this.$route.name
    },
    hasItems () {
      return this.items.length > 0
    }
  }
}
</script>

<style lang="css">
.margin-bottom-flex {
	margin-bottom: 20px;
}
</style>

