<template>
	<article-component title="Vue.js, qu’est-ce que c’est ?">
		<p>Vue (prononcé /vjuː/, comme le terme anglais view) est un framework évolutif pour construire des interfaces utilisateur. À la différence des autres frameworks monolithiques, Vue a été conçu et pensé pour pouvoir être adopté de manière incrémentale. Le cœur de la bibliothèque est concentré uniquement sur la partie vue, et il est vraiment simple de l’intégrer avec d’autres bibliothèques ou projets existants. D’un autre côté, Vue est tout à fait capable de faire tourner des applications web monopages quand il est couplé avec des outils modernes et des bibliothèques complémentaires.</p>
	</article-component>
</template>

<script>
import ArticleComponent from '@/components/ArticleComponent'

export default {
  components: {
    ArticleComponent,
  }
}
</script>
