<template>
	<v-container fill-height>
		<v-layout row wrap justify-center align-center>
			<v-flex xs6>
				<v-card>
					<v-toolbar flat>
						<h1>404 - Not found</h1>
					</v-toolbar>
					<v-card-text>{{ message }}</v-card-text>
					<v-card-actions>
                        <v-spacer></v-spacer>
						<v-tooltip bottom>
							<template #activator="data">
								<v-btn :to="home" color="green" flat v-on="data.on">Home Page</v-btn>
							</template>
							<span>Go back to the home page</span>
						</v-tooltip>
					</v-card-actions>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
export default {
    data () {
        return {
            home: this.$router.resolve({ name: 'introduction' }).href.slice(1)
        }
    },
    computed: {
        message () {
            return `The path ${window.location.href} have no page`
        }
    }
}
</script>
