<template>
	<v-container fill-height>
		<v-layout align-center justify-center text-xs-center fill-height>
			<v-flex xs6 class="text-md-center">
				<v-card class="animation">
					<v-card-title class="justify-center">
						<div>
							<h1 class="welcome">Présentation de Vue.js</h1>
							<div class="sub">By Maximilien DI DIO</div>
						</div>
					</v-card-title>
					<img src="@/assets/main-logo.png">
					<v-card-actions>
						<v-layout justify-center>
							<v-tooltip dark bottom>
								<template #activator="data">
									<v-btn v-on="data.on" :to="home" color="#41b883" flat large>let's go</v-btn>
								</template>
								<span>Go to the home page</span>
							</v-tooltip>
						</v-layout>
					</v-card-actions>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
export default {
	name: 'Welcome',
    data () {
        return {
            home: this.$router.resolve({ name: 'introduction' }).href.slice(1)
        }
    }
}
</script>

<style lang="css">
h1.welcome {
	color: #34495e;
	font-size: 3em;
	font-weight: lighter;
	text-align: center;
}

.sub {
	color: rgb(85, 106, 107);
}

img {
	width: 100px;
}

.animation {
	animation-duration: 2.5s;
	animation-name: slideDown;
}

@keyframes slideDown {
	from {
		margin-bottom: 300px;
		opacity: 0;
	}

	to {
		margin-bottom: 0px;
		opacity: 1;
	}
}
</style>

