<template>
    <article>
        <header class="header-article">
            <h1>{{ title | ucfirst }}</h1>
            <h4>
                Wrote by {{ showAuthors() | ucwords }}
            </h4>
        </header>
        <slot></slot>
    </article>
</template>

<script>
export default {
    name: 'ArticleComponent',
    props: {
        title: {
            type: String,
            required: true
        },
        authors: {
            type: Array,
            default: () => {
                return [ 'alan smithee' ]
            }
        },
    },
    methods: {
        showAuthors () {
            return this.authors.join(', ')
        }
    }
}
</script>

<style lang="css">
.header-article {
    border-style: solid;
    border-width: 0 0 2px;
    border-color: #41b883;
    margin-bottom: 20px;
}

.header-article h1 {
    font-size: 2.5em;
    color: #34495e;
}

.header-article h4 {
    color:rgb(89, 138, 138);
}
</style>
