<template>
    <div :class="color" class="box"></div>
</template>

<script>
export default {
    name: 'Box',
    props: {
        color: {
            type: String,
            required: true
        }
    }
}
</script>

<style lang="css">
.box {
    width: 2em;
    height: 2em;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
}
</style>

