<template>
	<v-menu offset-y transition="slide-x-transition" top right dark>
		<v-btn slot="activator" color="#34495e" dark>sidebar color</v-btn>
		<v-list>
			<v-list-tile v-for="color in colors" :key="color" @click="selectColor(color)">
				<v-list-tile-avatar><box :color="color"></box></v-list-tile-avatar>
                <v-list-tile-title>{{ color | upper }}</v-list-tile-title>
			</v-list-tile>
		</v-list>
	</v-menu>
</template>

<script>
import Box from '@/components/Box'

export default {
    props: {
        colors: {
            type: Array,
            required: true
        }
    },
    components: {
        Box
    },
    methods: {
        selectColor (color) {
            this.$store.commit('CHANGE_SIDEBAR_COLOR', color)
        }
    }
}
</script>

<style src="@/assets/css/color.css"></style>