<template>
	<v-form ref="form" v-model="valid" lazy-validation>
		<v-text-field label="Username" v-model="username" required></v-text-field>
		<v-text-field label="Password" v-model="password" required></v-text-field>
		<v-btn :disabled="!valid" color="green" @click="validate">Login</v-btn>
	</v-form>
</template>


<script>
export default {
    data () {
        return {
            valid: true,
            username: '',
            password: ''
        }
    },
    methods: {
        validate () {
            const { username, password } = this
            this.$emit('login', {username, password})
        },
        resetValidation () {
            this.$refs.form.resetValidation()
        }
    }
}
</script>
