<template>
	<v-layout row wrap fill-height align-center justify-center>
		<v-flex xs7>
			<v-card>
				<v-card-text>
					<v-layout align-center>
						<v-text-field label="Write todo" v-model="input" :value="currentInput"></v-text-field>
						<v-btn @click="addTodo" flat dark color="#34495e">Add</v-btn>
						<transition name="toolbar-appear">
							<div v-if="isChecked">
								<v-btn dark color="#EF5350" @click="removeSelection">Delete
									<v-icon>remove_circle</v-icon>
								</v-btn>
								<v-btn dark color="#34495e" @click="reset">Reset
									<v-icon>undo</v-icon>
								</v-btn>
							</div>
						</transition>
					</v-layout>
					<div v-if="hasTodo">
						<v-switch @change="handleSelectAll" :value="getSelectAll" label="select all"></v-switch>
						<v-list>
							<v-list-tile v-for="todo in todolist" :key="todo.id + '-todo'">
								<v-list-tile-action>
									<v-checkbox
										@change="handleCheck"
										v-model="todo.checked"
										:label="todo.content"
										:value="todo.checked"
									></v-checkbox>
								</v-list-tile-action>
							</v-list-tile>
						</v-list>
					</div>
					<v-container v-else>
						<v-alert :value="true" color="#34495e">No todo to show</v-alert>
					</v-container>
				</v-card-text>
			</v-card>
		</v-flex>
	</v-layout>
</template>

<script lang="js">
import { mapGetters } from 'vuex'

export default {
	name: 'TodoList',
    computed: {
		...mapGetters(['todolist', 'hasTodo', 'isChecked', 'checkedTodo', 'currentInput', 'getSelectAll']),
		input: {
			get () {
				return this.currentInput
			},
			set (text) {
				this.$store.commit('HANDLE_INPUT', text)
			}
		}
    },
    methods: {
        addTodo () {
			const input = this.currentInput.trim()
			if (input.length > 0)
				this.$store.commit('ADD_TODO', input)
        },
        reset () {
			this.$store.commit('RESET_TODOLIST')
        },
        removeSelection () {
			const selected = this.checkedTodo
			this.$store.commit('REMOVE_TODO', selected)
            this.reset()
		},
		handleInput (value) {
			this.$store.commit('HANDLE_INPUT', value)
		},
		handleSelectAll () {
			this.$store.commit('HANDLE_SELECT_ALL')
		},
		handleCheck (todo) {
			if (!todo)
				this.$store.commit('RESET_SELECT_ALL')
		}
    }
}
</script>

<style>
.toolbar-appear-enter-active,
.toolbar-appear-leave-active {
	transition: opacity 0.5s;
}
.toolbar-appear-enter, .toolbar-appear-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}
</style>