<template>
	<v-app>
		<side-bar-layout v-if="sidebarPresent"></side-bar-layout>
		<div v-if="sidebarPresent">
			<v-content>
				<base-content>
					<router-view></router-view>
				</base-content>
			</v-content>
		</div>
		<div v-else>
			<router-view></router-view>
		</div>
	</v-app>
</template>

<script>
import BaseContent from '@/layouts/BaseContent'

export default {
	name: 'App',
	components: {
		BaseContent
	},
	computed: {
		sidebarPresent () {
			return this.$route.meta.sidebar
		}
	}
}
</script>