<template>
	<div>
		<v-toolbar>
			<v-toolbar-title color="white">{{ routeName | upper }}</v-toolbar-title>
			<v-spacer></v-spacer>
			<color-picker :colors="colors"></color-picker>
			<v-tooltip dark bottom>
				<template #activator="data">
					<v-btn dark color="#41b883" v-on="data.on" :to="welcome">Welcome</v-btn>
				</template>
				<span>Go back to the welcome page</span>
			</v-tooltip>
		</v-toolbar>
		<v-container>
			<slot></slot>
		</v-container>
	</div>
</template>

<script>
import ColorPicker from '@/components/ColorPicker'

export default {
  name: 'BaseContent',
  components: {
    ColorPicker
  },
  data () {
    return {
      welcome: this.$router.resolve({ name: 'welcome' }).href.slice(1),
      colors: [
          'vue-primary',
          'vue-secondary',
          'dark',
          'white'
      ]
    }
  },
  computed: {
    routeName () {
      return this.$route.name;
    }
  }
}
</script>
