<template>
	<v-navigation-drawer :dark="sidebarColor !== 'white'" :class="sidebarColor" app v-model="drawer" :mini-variant.sync="mini" hide-overlay stateless>
		<v-toolbar flat class="transparent">
			<v-list class="pa-0">
				<v-list-tile avatar>
					<v-list-tile-avatar>
						<img src="@/assets/main-logo.png">
					</v-list-tile-avatar>

					<v-list-tile-content>
						<v-list-tile-title>Vue.js</v-list-tile-title>
					</v-list-tile-content>

					<v-list-tile-action>
						<v-btn icon @click.stop="mini = !mini">
							<v-icon>chevron_left</v-icon>
						</v-btn>
					</v-list-tile-action>
				</v-list-tile>
			</v-list>
		</v-toolbar>

		<v-list class="pt-0" dense>
			<v-divider></v-divider>

			<v-list-tile v-for="item in items" :key="item.title" :to="item.route" :active-class="fontColor">
				<v-list-tile-action>
					<v-icon>{{ item.icon }}</v-icon>
				</v-list-tile-action>
				<v-list-tile-content>
					<v-list-tile-title>{{ item.title | ucwords }}</v-list-tile-title>
				</v-list-tile-content>
			</v-list-tile>
		</v-list>
	</v-navigation-drawer>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
	data () {
		return {
			drawer: true,
			items: [
				{	
					title: 'introduction', 
					icon: 'dashboard', 
					route: this.$router.resolve({ name: 'introduction' }).href.slice(1)
				},
				{ 
					title: 'about', 
					icon: 'sort', 
					route: this.$router.resolve({ name: 'about' }).href.slice(1)
				},
				{
					title: 'todo list',
					icon: 'format_list_bulleted',
					route: this.$router.resolve({ name: 'todolist' }).href.slice(1)
				}
			],
			mini: true,
			right: null
		}
	},
	computed: {
		...mapGetters([ 'sidebarColor' ]),
		fontColor () {
			return `${this.sidebarColor}-font`
		}
	}
}
</script>

<style src="@/assets/css/color.css"></style>